#.gitignore

 

#Unity

TwinSticks/[Ll]ibrary/

TwinSticks/[Tt]emp/

TwinSticks/[Oo]bj/

TwinSticks/[Bb]uild/

TwinSticks/[Bb]uilds/

TwinSticks/Assets/AssetStoreTools*

TwinStickssysinfo.txt

*.pidb.meta

 

#VS/Rider/MD/Consulo

ExportedObj/

.consulo/

.idea/

*.csproj

*.unityproj

*.sln

*.suo

*.tmp

*.user

*.userprefs

*.pidb

*.booproj

*.svd

 

#Builds

*.apk

*.unitypackage

*.app

*.exe

